APP_NAME="CDAC QPoint"
APP_EMAIL="cdacqpoint@gmail.com"
FRONTEND_URL="http://localhost:3000/"
SEND_MAIL=false
JWT_SECRET=
URL_PREFIX="/api/v1"
MONGODB_URI = mongodb+srv://cdacqpoint:q_9e42K%FK49p-X@cluster0-jqkoz.mongodb.net/test?retryWrites=true&w=majority
MONGO_DB_NAME=cdacqpointv1
NODE_ENV=dev
PORT=3000